.modal-body input,
.modal-body textarea {
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  padding: 10px;
  width: 100%;
}

.modal-body .btn-success {
  display: flex;
  align-items: center;
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
}

.modal-body .btn-success i {
  margin-right: 10px;
}

.modal-footer .btn-outline-secondary {
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}

.modal-footer .btn-primary {
  background-color: #7d4cdb;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
}
.thank-you-message {
  text-align: center;
  padding: 20px;
}

.thank-you-message h4 {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.thank-you-message p {
  margin-top: 10px;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.thank-you-image {
  width: 100px; /* Adjust size as needed */
  margin-bottom: 20px;
}
